@{
    ViewBag.Title = "添加项目";
}


<form class="form form-horizontal" id="formAdd" action="/Admin/StuWorkPost/UpdateFile" enctype="multipart/form-data" method="post">
    
    <input type="hidden" name="userId" value="@ViewBag.username" />
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">附件：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <span class="btn-upload form-group">
                <input class="input-text upload-url" type="text" name="uploadfile" id="uploadfile" readonly nullmsg="请添加附件！" style="width:200px">
                <a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
                <input type="file" multiple name="dsUrl" class="input-file">
            </span>
        </div>
    </div>


    <div class="row cl">
        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
            <input class="btn btn-primary radius" type="submit" id="btnSave" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
        </div>
    </div>
</form>
@section FooterScript{

    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/messages_zh.js"></script>>

}