@{
    ViewBag.Title = "添加题目";
}

<article class="page-container">
    <form class="form form-horizontal" id="formAdd">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="UserName" name="UserName">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="PassWord" name="PassWord">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>身份证：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="CardId" name="CardId">
            </div>
        </div>
        
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>姓名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="TrueName" name="TrueName">
            </div>
        </div>
        
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="radio" value="0" name="Sex" id="Sex1" checked="checked" />男 <input type="radio" value="1" name="Sex" id="Sex2" />女 
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>出生日期：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="date" class="input-text" value="" placeholder="" id="BirthDay" name="BirthDay">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>英语水平：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select name="EnglishLevel" id="EnglishLevel">
                    <option value="大学英语四级">大学英语四级</option>
                    <option value="大学英语六级">大学英语六级</option>
                    <option value="雅思6分及以上">雅思6分及以上</option>
                    <option value="雅思5.5分及以下">雅思5.5分及以下</option>
                </select>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="email" class="input-text" value="" placeholder="" id="Email" name="Email">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>联系方式：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="tel" class="input-text" value="" placeholder="" id="Contact" name="Contact">
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" id="btnSave" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
@section FooterScript{

    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript">
$(function(){
    var saveAjax = function () {
        var formData = $("#formAdd").serializeArray();
        $.ajax({
            url: "/Admin/User/Add",
            type: "post",
            data: formData,
            dataType: "json",
            success: function (res) {
                if (res.status == "ok") {
                    parent.location.reload();//刷新父窗口
                }
                else {
                    alert(res.errorMsg);
                }
            },
            error: function () { alert("请求出错"); }
        });
    };

    $("#formAdd").validate({
		rules:{
		    Name: {
				required:true,
				minlength:2,
				maxlength:50
		    },
		    Description: {
		        required: true,
		        minlength: 2,
		        maxlength: 255
		    }

		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
		    saveAjax();
		}
	});
});
    </script>
}