﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>涉外事务管理</title>
    <meta name="keywords" content="涉外事务管理" />
    <meta name="description" content="涉外事务管理" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" id="page_favionc">
    <link href="/Public/Home/Css/Global.css" rel="stylesheet" type="text/css" />
    <link href="/Public/Home/Css/index.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Public/Home/js/jquery.js"></script>
    <script type="text/javascript"src="/Public/Home/js/banner.js"></script>
    <script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>


</head>
<body>    
    <div id="nav">
        <div class="logo"><a href="index.html"><img src="/Public/Home/Images/logo.png" data-src="/Public/Home/Images/logo.png" /></a></div>
        <div class="nav_ul">
            <ul>
                <li><a href="/Home" target='_blank'>首页</a></li>
                <li><a href="/Home/Project" target='_blank'>项目介绍</a></li>
                <li><a href="/Home/Academy" target='_blank'>项目报名</a></li>
                <li><a href="/Home/UserIndex" target='_blank'>会员中心</a></li>
                <li><a href="/Home/Login" target='_blank'>登录 </a></li>
                <li><a href="/Home/Register" target='_blank'>注册</a></li>

            </ul>
        </div>
    </div>
    @RenderBody()
</body>
</html>