
<div class="leftbox2">
    <ul class="lfsubnav">
        <li><a href="/Home/UserAbout">个人中心</a></li>
        <li><a href="/Home/PaperList">测试</a></li>
        <li><a href="/Home/WorkPost">岗位选择</a></li>
        <li><a href="/Home/MessageList">留言板</a></li>
        <li><a href="/Home/BackHomeOk">回国</a></li>
    </ul>
</div>