
<div class="banner" id="Banner">
    <ul class="pic">
        <li style="background:url('/Public/Home/images/banner1.jpg') no-repeat center top"><a href=""></a></li>
        <li style="background:url('/Public/Home/images/banner2.jpg') no-repeat center top"><a href=""></a></li>
        <li style="background:url('/Public/Home/images/banner3.jpg') no-repeat center top"><a href=""></a></li>
        <li style="background:url('/Public/Home/images/banner4.jpg') no-repeat center top"><a href=""></a></li>
    </ul>
</div>