@model MessageDTO
@{
    ViewBag.Title = "Show";
}

<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="formAdd">
        <div class="row cl">
            <input type="hidden" name="id" value="@Model.Id" />
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Model.Title
            </div>
        </div>
        
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>留言内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.Raw(Model.MesContent)
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">回复内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="ReplyContent" cols="" rows="" class="textarea" placeholder="说点什么...最少输入10个字符" onKeyUp="$.Huitextarealength(this,100)"></textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>


@section FooterScript{

    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript">
        $(function () {
    var saveAjax = function () {
        var formData = $("#formAdd").serializeArray();
        $.ajax({
            url: "/Admin/Message/Show", type: "post", dataType: "json", data: formData,
            success: function (res) {
                if (res.status == "ok") {
                    alert("回复成功");
                    location.href = "/Admin/Message";
                }
                else {
                    alert("错误：" + res.errorMsg);
                    $("#imgVerifyCode").click();
                }
            },
            error: function () {
                alert("网络出错");
            }
        });
    };

    $("#formAdd").validate({
		rules:{
		    ReplyContent: {
				required:true,
				minlength:2,
				maxlength:1000
		    }
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
		    saveAjax();
		}
	});
});
    </script>
}




